rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /generation_jobs/{jobId} {
      allow read, write: if true;
    }
    match /projects/{projectId} {
      allow read, write: if true;
    }
  }
}
